# node_modules
DriveSmart/node_modules/
server/node_modules/

# Entornos
DriveSmart/.env
server/.env

# Builds y temporales
DriveSmart/android/
DriveSmart/ios/
DriveSmart/.expo/
DriveSmart/.expo-shared/
DriveSmart/.cache/
DriveSmart/web-build/

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db
